extends layout

block content
  h1= title
  p Welcome to #{title}

  h3 Dynamic Content:
  if error
    p Error getting dynamic content.
  else 
    p Here are the customers: 
  ul 
    each customer in customer_list 
        li 
            a(href=customer.url) #{customer.id}
            |. #{customer.name}
    else 
        li there are no customers I guess