extends layout 

block content
  div(class='cardContainer')
    div(class='grid')
      div(class='third')
        div(class='card')
          p(class='largeText') Stats
            div(class='rounded')
              div(class='stats')
                p Strength: #{char_info.STR}
                  ul 
                    li Athletics: 
            br
            div(class='rounded')
              div(class='stats')
                p Dexterity: #{char_info.DEX}
                  ul 
                    li Arobatics: 
            br
            div(class='rounded')
              div(class='stats')
                p Constitution: #{char_info.CON}
                  ul 
                    li gonna have the skills listed here: 
            br
            div(class='rounded')
              div(class='stats')
                p Intelligence: #{char_info.INT}
                  ul 
                    li Arcana: 
            br
            div(class='rounded')
              div(class='stats')
                p Wisdom: #{char_info.WIS}
                  ul 
                    li Animal Handling: 
            br
            div(class='rounded')
              div(class='stats')
                p Charisma: #{char_info.CHA}
                  ul 
                    li Deception: 
            br

      div(class='third')
        div(class='card')
          div(class='largeText charName coolFont') #{char_info.Name}
          p(class='charName') #{char_info.Lineage} #{char_info.Class}
          img(class='imgSizing' src=char_info.ImgLocation)
          p(class='charInfo boldInfo') Armor Class: #{char_info.AC} &#8226; Initiative: #{char_info.Init} &#8226; HP: #{char_info.HP}
          br
          
      div(class='third')
        div(class='card')
          p(class='largeText') Features
            div(class='stats')
              div(class='rounded')
                p Error getting dynamic content.
                p features ul
                ul
                  li there are no customers I guess
              br
              div(class='rounded')
                p class traits
                ul 
                  li stuff
              br
              div(class='rounded')
                p background traits
                ul 
                  li more stuff
              br