extends layout 

block content
  div(class='cardContainer')
    div(class='grid')
      div(class='third')
        div(class='card')
          p(class='largeText') Stats
            div(class='rounded')
              div(class='stats')
                p Strength: #{char_info.STR}
                  ul 
                    li Athletics: 
            br
            div(class='rounded')
              div(class='stats')
                p Dexterity: #{char_info.DEX}
                  ul 
                    li Arobatics: 
            br
            div(class='rounded')
              div(class='stats')
                p Constitution: #{char_info.CON}
                  ul 
                    li gonna have the skills listed here: 
            br
            div(class='rounded')
              div(class='stats')
                p Intelligence: #{char_info.INT}
                  ul 
                    li Arcana: 
            br
            div(class='rounded')
              div(class='stats')
                p Wisdom: #{char_info.WIS}
                  ul 
                    li Animal Handling: 
            br
            div(class='rounded')
              div(class='stats')
                p Charisma: #{char_info.CHA}
                  ul 
                    li Deception: 
            br

      div(class='third')
        div(class='card')
          div(class='largeText charName coolFont') #{char_info.Name}
          p(class='charName') #{char_info.Lineage} #{char_info.Class}
          img(class='imgSizing' src=char_info.ImgLocation)
          p(class='charInfo boldInfo') Armor Class: #{char_info.AC} &#8226; Initiative: #{char_info.Init} &#8226; HP: #{char_info.HP}
          br
          
      div(class='third')
        div(class='card')
          p(class='largeText') Features
            div(class='stats')
              div(class='rounded')
                p Lineage: #{char_info.Lineage}
                ul 
                  if char_info.LineageIdentifier.Feature1 != ''
                    li #{char_info.LineageIdentifier.Feature1}
                  if char_info.LineageIdentifier.Feature2 != ''
                    li #{char_info.LineageIdentifier.Feature2}
                  if char_info.LineageIdentifier.Feature3 != ''
                    li #{char_info.LineageIdentifier.Feature3}
                  if char_info.LineageIdentifier.Feature4 != ''
                    li #{char_info.LineageIdentifier.Feature4}
              br
              div(class='rounded')
                div(class='features')
                  p Class Features: #{char_info.Class}
                  ul
                    each Feature in char_info.Features 
                      li
                        if Feature.SubClass == ''
                          div Level #{Feature.Level}. 
                            a(href=Feature.Link) #{Feature.FeatureName}
                        else if Feature.SubClass != ''
                          div Level #{Feature.Level}. 
                            a(href=Feature.Link) #{Feature.FeatureName} (#{Feature.SubClass})
                        else 
                          div class features not found
              br
              div(class='rounded')
                p Background: #{char_info.Background.BackgroundName}
                ul 
                  li #{char_info.Background.Feature1}
                  li #{char_info.Background.Feature2}
                  li Skill #1: #{char_info.Background.Skill1}
                  li Skill #2: #{char_info.Background.Skill2}
              br