extends layout

block content
  h1 Features for: #{title}

  form(method='POST' action='' enctype='multipart/form-data')
    div(class='inputCard')
      div(class='inputContainer')
        label(for='CharID') Character ID:
        input#CharID(type='text', name='CharID' readonly, value=char_info.CharID)

        label(for='name') Feature Name:
        input#name(type='text', placeholder='Bobmancer' name='name')

        div(class='statContainer')
          label(for='level') Level: 
          select#level(name='level' class='dropdownStyle2')
            -for(let i = 1; i <= 20; i++)
              if(i == 1)
                option(value=i selected='selected') #{i}
              else
                option(value=i) #{i}
        br
        br

        label(for='class') Class:
        input#class(type='text', name='class')

        label(for='subclass') Sub Class: (if applicable)
        input#subclass(type='text', name='subclass')

        label(for='description') Description:
        input#description(type='text', name='description')

        label(for='link') Link:
        input#link(type='text', name='link')

        br

      div(class='inputContainer')
        button(type='submit' class='buttonStyle') Submit

  if errors
    div(class='inputCard')
      div(class='inputContainer')
        p Errors: 
        ul
          each error in errors
            li!= error.message